.review {
    display: flex;
    justify-content: center;

}

.review__form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.review__item {
    border: 1px solid black;
    margin-bottom: 10px;
}

.review__items {}